@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background-color: #222222;
}
header{
    color: #fff;
}
.subtitulo{
    margin: 20px;
    font-family: "Sedan", serif;
    font-weight: 300;
    font-size: 20px;
}
.titulo{
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

